@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

html{
    display: block;
    height: 100%;
}

header {
  background-color: #263d36;
  background-image: url("header_mobile.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
  padding: 12vw 2.5em 3em 2em;
  text-align: right;
  height: 100vh;
  max-width: none;
}

body {
  margin: 0 auto;
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /*padding: 0em 1em;*/
  /*background-color: #f8f8f8;*/
  color: #555;
}

.work{
    margin: 0 auto;
    margin-bottom: 2em;
}

header p {
    /*margin-left: 40em;*/
    background-color: transparent white;
    color: #333;
    max-width: 50em;
}


@media (max-width: 874px){
    .project, .project-even{
        width: 100%;
    }

    .project-image{
        width: 75%;
    }
}

@media (min-width: 750px){
    header p{
        margin-left: 20em;
    }
}

@media (min-width:875px){
    .work{
        max-width: 50em;
    }

    header {
        background-image: url("header.jpg");
    }

    header p{
        margin-left: 35em;
    }

    .project-even p{
        width: 75%;
        margin-left: 25%; 
    }

    .project-even {
        text-align: right;
    }
    
    section p{
        width: 75%;
    }

    .project-image{
        width: 50%;
    }
}

@media (min-width: 1000px){
    header p{
        margin-left: 45em;
    }
}

footer{
    background-color: #f8f8f6;
    width: 100%;
    height: 75px;
    color: #333;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 1.5em;
}

a#inline:hover{
  padding: 0;
  font-style: italic;
  color: orangered;
}


.a-text:hover {
  padding: 12px;
  color: orangered;
  /*font-weight: bolder;*/
}

.a-icon:hover{
  color: orangered;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

.work > h2 {
    display: block;
}

.project{
  /*background: #eee;*/
  text-align: left;
  border-left: 2px solid #555;
}

.project, .contact {
  padding: 2px 4px 1em 1em;
  vertical-align: text-bottom;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.project-even{
    /* text-align: right; */
    padding-right: 1em;
    border-right: 2px solid #555;
    border-left:none;
}

a {
  color: tomato;
  /*color: #e05038;*/
  text-decoration: none;
}

.fa-heart{
    color: tomato;
}

ul, li{
    list-style: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}


.contact-links li{
    font-size: 16px;
    display: inline-block;
    padding-right: 10px;
}


.project-links{
    margin-top: 10px;
}